input {
	width      : 40%;
	font-size  : 24px;
}

button {
	font-size  : 24px;
	width      : 20%;
}

.setBorder {
	border-bottom: 1px solid black;
}

.smallText {
	text-align: center;
	width     : 100%;
	padding   : 20px 0 2px;
}

.bigText {
	font-size : 3em;
	text-align: center;
	width     : 100%;
	padding   : 2px 0 20px;
}